@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1.title {
    margin-top: 150px;
    color: #ffffff;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
    cursor: auto;
}

h3.description {
    padding-top: 15px;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4.output {
    padding-top: 15px;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}